{%load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<a href="product-list/">To list</a>
		<a href="create-product/">To create Product</a>
		<h1>static file</h1>
		<img src="{% static "1391491717.png" %}" alt="perrito bonito">
		<a href=""></a>
		<a href="search/">To search</a>

		{%if favs%}
		<h1>Favourites</h1>
		{%include 'catalog/includes/loop.txt'%} {% endif %}
	</body>
</html>
