<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h2>Name</h2>
		<p>{{product.name}}</p>
		<h2>Description</h2>
		<p>{{product.description}}</p>
		<h2>Price</h2>
		<p>{{product.price}}€</p>
		<h2>Category</h2>
		<p>{{product.category.name}}</p>
		<img
			height="150"
			src="{{product.picture.url}}"
			alt="{{product.name}}"
		/>
		<form action="{%url  'home'%}" method="post">
			{%csrf_token%}
			<input type="hidden" name="product_id" value="{{product.id}}" />
			<button type="submit">
				{% if is_fav %} Remove from favourite {% else %} Add to
				favourite {% endif %}
			</button>
		</form>

		<a href="{{product.get_absolute_url}}update">Update this product</a>
		<a href="{{product.get_absolute_url}}delete">Delete this product</a>
		<a href="/">To home</a>
	</body>
</html>
