a {
  text-decoration: none;
  padding: 5%;
}
a:hover {
  text-decoration: 1px blue dashed;
  background-color: #eba837;
  border-radius: 7px;
}
body {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #63453f;
  border-radius: 7px;
  justify-content: space-between;
  align-content: space-around;
  align-self: center;
}
.logindiv {
  height: 25vh;
  width: 25vw;
  align-content: center;
  text-align: center;
  align-self: center;
}
.creatediv {
  height: 25vh;
  width: 25vw;
  align-content: center;
  text-align: center;
  align-self: center;
}
.rolldiv {
  height: 25vh;
  width: 25vw;
  align-content: center;
  text-align: center;
  align-self: center;
}
.logout > a:hover {
  background-color: red;
}
.logout {
  margin-left: 35vw;
  height: 25vh;
  width: 25vw;
  align-content: center;
  text-align: center;
  align-self: center;
}
table > tr {
  border: 2px black solid;
}
#formLeft {
  border: 2px #eba837 solid;
  border-radius: 7px;
  height: 40vh;
  width: 40vw;
}
#formRight {
  border: 2px #63453f solid;
  border-radius: 7px;
  height: 40vh;
  width: 40vw;
}
