body {
  display: flex;
  flex-wrap: wrap;
  border: 2px green solid;
  border-radius: 7px;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: #c88119;
  padding: 25px;
}
.logindiv {
  display: flex;
  height: 25vh;
  width: 25vw;
  align-items: center;
  justify-content: center;
}
.creatediv {
  display: flex;
  height: 25vh;
  width: 25vw;
  align-items: center;
  justify-content: center;
}
.rolldiv {
  display: flex;
  height: 25vh;
  width: 25vw;
  align-items: center;
  justify-content: center;
}
.logout {
  display: flex;
  height: 25vh;
  width: 25vw;
  align-items: center;
  justify-content: center;
  margin-left: 35vw;
}
