{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{%block title%}{%endblock%}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="icon" type="image/x-icon" href="../static/ticket.png">
		{% tailwind_css %}
		<link
			href="{% static 'fontawesomefree/css/fontawesome.css' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="{% static 'fontawesomefree/css/brands.css' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="{% static 'fontawesomefree/css/solid.css' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
		<script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
		<script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
	</head>

	<body class="bg-gray-100 font-serif leading-normal tracking-normal">

<div class="bg-gray-100 text-gray-900">
	<header class="bg-white shadow">
		<div
			class="container mx-auto px-6 py-4 flex justify-between items-center"
		>
			<a href="/"><h1 class="text-2xl font-bold">TicketTicks</h1>
			</a>
			<nav>
				<ul class="flex space-x-4">
					<li><a class="group text-dark-500 transition-all duration-300 ease-in-out" href="/"><span class="bg-left-bottom bg-gradient-to-r from-blue-500 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Home</span></a>
					</li>
					<li><a class="group text-dark-500 transition-all duration-300 ease-in-out" href="/list-events"><span class="bg-left-bottom bg-gradient-to-r from-blue-500 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">All Events</span></a>
					</li>
					<li><a class="group text-dark-500 transition-all duration-300 ease-in-out" href="/cart"><span class="bg-left-bottom bg-gradient-to-r from-blue-500 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Cart</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	</header>
		{% block content%} {% endblock %}
	

<footer class="bg-white rounded-lg shadow-sm m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://flowbite.com/" class="hover:underline">TicketTicks</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium gap-2 text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a class="group text-dark-500 transition-all duration-300 ease-in-out" href=""><span class="bg-left-bottom bg-gradient-to-r from-blue-500 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">About</span></a>
        </li>
        <li>
            <a class="group text-dark-500 transition-all duration-300 ease-in-out" href=""><span class="bg-left-bottom bg-gradient-to-r from-blue-500 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Privacy Policy</span></a>
        </li>
        <li>
            <a class="group text-dark-500 transition-all duration-300 ease-in-out" href=""><span class="bg-left-bottom bg-gradient-to-r from-blue-500 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Licensing</span></a>
        </li>
        <li>
            <a class="group text-dark-500 transition-all duration-300 ease-in-out" href="/cart"><span class="bg-left-bottom bg-gradient-to-r from-blue-500 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Contact</span></a>
        </li>
    </ul>
    </div>
</footer>


	</body>
</html>
