{%extends 'events/base.html'%} {%block content%} 

	<main class="container mx-auto px-6 py-16 text-center">
	</main>
	<section class="bg-gray-100 font-serif leading-normal tracking-normal">
		<div class='container mx-auto justify-center text-center'>

			{% if has_cart %}
			<p>Total Price: {{total_price}} €</p>
			{% for event in events  %}
			<hr class="border-4 border-blue-950 my-4" />
			
			<h4 class="text-2xl text-blue-300 hover:text-blue-500"><a href="{{event.get_absolute_url}}">{{event.title}}</a></h4>
			<p class="text-xl">{{event.city}}</p>
			<p>{{event.ticket_price}} €</p>
			
			{% endfor %}
		{% else %}
		<h3 class="text-2xl text-bold">NO CART</h3>
		{% endif %}
	</div>
	</section>
</div>
{% endblock %}
