{%extends 'events/base.html'%} {%block content%}

<div>
	<h2>{{event.title}}</h2>
	<p>Date: {{ event.date }}</p>
	<p>City: {{ event.city }}</p>
	<p class="text-blue-300 hover:text-blue-500">
		<a href="{{event.artist.get_absolute_url}}"> {{event.artist}}</a>
	</p>

	<p>{{event.ticket_price}} €</p>

	<form action="{%url 'cart'%}" method="post">
		{%csrf_token%}
		<input type="hidden" name="event_id" value="{{event.id}}" />
		<button
			type="submit"
			class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
		>
			{% if in_cart %} Quitar de carrito {% else %} Añadir al carrito
			{%endif %}
		</button>
	</form>
	<a href="/">Home</a>
	<a href="{{event.get_absolute_url}}/delete">Delete event</a>
	<a href="{{event.get_absolute_url}}/update">Update event</a>
</div>
{% endblock %}
