<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum totam
		magnam inventore odio? Nihil ab atque cupiditate veniam id obcaecati,
		cumque molestiae repudiandae sunt nobis minima hic quae magnam
		recusandae. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
		Omnis magni at expedita eaque mollitia, reiciendis odio totam rerum
		unde, officiis voluptatem. Cumque cupiditate, quia nihil similique
		explicabo nisi facere distinctio.

		<a href="{%url 'home'%}">Back to homepage</a>
	</body>
</html>
