{%extends 'portfolio/base.html'%} {% block content %} {%load static%}
<div class="container mt-3">
	<h1 class="display-1">Brais' portfolio</h1>

	<div class="card" style="width: 18rem">
		<img
			src="{% static 'portfolio/7609718834_416d41c0af_w.jpg'%}"
			alt="Happy dog with it's tongue out"
			class="card-image-top"
		/>
		<div class="card-body">
			<p class="card-text">
				This happy doggo welcomes you to my personal projects page!
				------ Here you'll be able to navigate through my projects!
			</p>
		</div>
	</div>

	{% comment %}
	<a href="{% static 'portfolio/UD0 - Estrutura real.pdf'%}" target="_blank"
		>UD0 - Estrutura real</a
	>
	{% endcomment %} {% for project in projects %}

	<ul class="list-group">
		<li class="list-group-item">
			<h2>{{project.title}}</h2>
		</li>
		<li class="list-group-item">
			<h3>{{project.description}}</h3>
		</li>

		<li class="list-group-item">
			{% if project.title == 'Second Project'%}
			<script>
				function bark() {
					window.alert('Bark bark!');
				}
			</script>
			<img
				src="{{project.image.url}}"
				alt="{{project.image}}"
				width="100"
				height="100"
				onClick="bark()"
			/>
			{%elif project.url%}
			<li class="list-group-item">
			<a href="{{project.url}}"
				><img
					src="{{project.image.url}}"
					alt="{{project.image}}"
					width="100"
					height="100"
			/></a>
		</li>
		{% else %}
			<img
				src="{{project.image.url}}"
				alt="{{project.image}}"
				width="100"
				height="100"
			/>
			{% endif %}
		</li>
	</ul>
	{% endfor %}
</div>
{% endblock%}
